.name-todo {
    padding: 20px;
}

.describe-todo {
    padding: 20px;
}

.toolbar {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
}

.date {
    padding: 30px;
}

.add {
    text-align: center;
    padding: 30px;
}