<ion-content>
  <div class="page">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <form #form="ngForm">
            <div class="contact">
              <ion-icon name="contact"></ion-icon>
            </div>
            <div text-center>
              <h2>Sign In</h2>
            </div>
            <ion-item>
              <ion-icon name="mail"></ion-icon>
              <ion-input name="email" type="email" placeholder="  E-mail" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="lock"></ion-icon>
              <ion-input name="password" type="password" placeholder="  Password" ngModel required></ion-input>
            </ion-item>
            <div>
              <h6>Forgot password?</h6>
            </div>
            <div>
              <h5>Sign in with</h5>
            </div>
            <br>
            <br>
            <div class="logos">
              <ion-fab color="dark" slot="fixed">
                <ion-fab-button>
                  <ion-icon name="share"></ion-icon>
                </ion-fab-button>
                <ion-fab-list side="top">
                  <ion-fab-button>
                    <ion-icon name="logo-googleplus"></ion-icon>
                  </ion-fab-button>
                </ion-fab-list>
                <ion-fab-list side="bottom">
                  <ion-fab-button>
                    <ion-icon name="logo-facebook"></ion-icon>
                  </ion-fab-button>
                </ion-fab-list>
                <ion-fab-list side="start">
                  <ion-fab-button>
                    <ion-icon name="logo-instagram"></ion-icon>
                  </ion-fab-button>
                </ion-fab-list>
                <ion-fab-list side="end">
                  <ion-fab-button>
                    <ion-icon name="logo-twitter"></ion-icon>
                  </ion-fab-button>
                </ion-fab-list>
              </ion-fab>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="sign-buttons">
              <ion-button shape="round" color="light" size="large">Sign Up</ion-button>
              <ion-button shape="round" color="dark" size="large" type="submit" [disabled]="form.invalid"
                (click)='showListPage()'>Sign In</ion-button>
            </div>
            <div class="tandc">
              <p>Term and conditions</p>
            </div>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>